body{
  background-image: url(../assets/png/Background/starBackground.png);
  opacity: 120%;
}

#space {
  background-image: url("../assets/png/Background/starBackground.png");
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(255, 255, 255) ;
}

#ship {
  position: absolute;
}

#hud{
  position: absolute; 
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 22px;
  z-index: 10000;
}

#vidas-container{
  display: inline-block; 
  vertical-align: middle;
}

#pontos{
  font-family:'Courier New', Courier, monospace, sans-serif; 
  margin-left: 20px;
}

#pause-screen{

    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    text-align: center;
    padding-top: 300px;
    z-index: 100001;
    
}

#game-over-screen{
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  text-align: center;
  padding-top: 200px;
  z-index: 100000;
}

#restart-btn{

    margin-top: 30px;
    font-size: 24px;
    padding: 10px 20px;
    color:rgb(255, 2, 108);
     font-family: 'Courier New', Courier, monospace;
    background-color:rgb(50, 0, 97);
    cursor:crosshair;
    border-color: rgb(255, 255, 255);
    border-style:solid;
    border-width: 5px;
    
}

#start-screen{
  display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    text-align: center;
    padding-top: 300px;
    z-index: 100001;
}

.enemy-ship {
  position: absolute;
}

.bullet {
  width: 8px;
  height: 24px; 
  pointer-events: none;
  position: absolute;
  z-index: 10000;
  background: red; /* só para testar, depois remove */
  display: block;
}